@import "tailwindcss";
@import "tw-animate-css";

:root {
  --main: #0f0f2b;
  --background: #ffffff;

  --bordergrey: #c8c8c8;
  --dropshadow: #3a3a3a;
  
  --whitetext: #f0f0f0;
  --blacktext: #121212;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient-move 10s ease infinite;
}
